.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
}

.rodape p {
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
}